.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0.25rem;
}

.item-1 {
  font-size: 100px;
  text-align: center;
  text-shadow: 15px 15px 0 0 rgb(178, 178, 203);
  background-color: rgb(126, 126, 128);
  border: 5px;
  padding: 1rem;
  border-style: outset;
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
  align-self: flex-end;
  cursor: pointer;
}

.reset {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #ffd700;
  text-shadow: 1px 1px 2px black;
  font-size: larger;
}
.reset:hover {
  background-color: #ceb424;
  cursor: pointer;
}
